@model IEnumerable<CySim.Models.TeamRegistration.TeamRegistration>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> @* Forces reset of CSS file to prevent caching and not updating during development *@
<div class="container">
    <header>
        <br />
    </header>
        <div class="col-md-20 col-centered">
            @if (User.IsInRole("Red Team") || User.IsInRole("Admin"))
            {
                <h2 class="text-danger">Red Team Scoreboard</h2>
                <table class="col-md-20 col-centered">
                    <thead>
                        <tr class="table-danger">
                            <th align="center" class="thead-secondary">Placement</th>
                            <th align="center" class="thead-secondary">Profile Picture</th>
                            <th align="center" class="thead-secondary">Team Name</th>
                            <th align="center" class="thead-secondary">Score</th>
                            <th align="center" class="thead-secondary">Flags</th>
                            <th align="center" class="thead-secondary">Usability</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th align="center" class="thead-secondary">Edit</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{int iter = 1; }
                        @foreach (var item in Model)
                        {
                            @if (item.IsRed)
                            {
                                <tr>
                                    <td class="scoreboard-ranking">@(iter)</td>

                                    <td class="scoreboard-team-logo">
                                        <img class="scoreboard-team-logo"
                                             src="~/@item.FilePath" height="100" width="100">
                                    </td>
                                    <td class="scoreboard-team">@item.TeamName</td>
                                    <td class="scoreboard-score">@item.Score</td>
                                    <td class="scoreboard-flags">@item.Usability</td>
                                    <td class="scoreboard-usability">@item.Flags</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td align="left" class="scoreboard-usability">
                                            <div class="btn-group" role="group">
                                                <a type="button" class="btn btn-primary rounded-true" href="@Url.Action("Edit", new { id = item.Id })"><i class="fa-regular fa-pen-to-square"></i>Edit</a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                                ++iter;
                            }
                        }
                    </tbody>
                </table>
                <br />
            }
            @if (User.IsInRole("Admin"))
            {
                <br />
            }
            @if (User.IsInRole("Blue Team") || User.IsInRole("Admin"))
            {
                <h2 class="text-primary">Blue Team Scoreboard</h2>
                <table class="col-md-20 col-centered">
                    <thead>
                        <tr class="table-primary">
                            <th align="center" class="thead-secondary">Placement</th>
                            <th align="center" class="thead-secondary">Profile Picture</th>
                            <th align="center" class="thead-secondary">Team Name</th>
                            <th align="center" class="thead-secondary">Score</th>
                            <th align="center" class="thead-secondary">Flags</th>
                            <th align="center" class="thead-secondary">Usability</th>
                            @if (User.IsInRole("Admin"))
                            {
                                <th align="center" class="thead-secondary">Edit</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{int iter = 1; }
                        @foreach (var item in Model)
                        {
                            @if (!item.IsRed)
                            {
                                <tr>
                                    <td class="scoreboard-ranking">@(iter)</td>

                                    <td class="scoreboard-team-logo">
                                        <img class="scoreboard-team-logo"
                                             src="~/@item.FilePath" height="100" width="100">
                                    </td>
                                    <td class="scoreboard-team">@item.TeamName</td>
                                    <td class="scoreboard-score">@item.Score</td>
                                    <td class="scoreboard-flags">@item.Usability</td>
                                    <td class="scoreboard-usability">@item.Flags</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td align="left" class="scoreboard-usability">
                                            <div class="btn-group" role="group">
                                                <a type="button" class="btn btn-primary rounded-true" href="@Url.Action("Edit", new { id = item.Id })"><i class="fa-regular fa-pen-to-square"></i>Edit</a>
                                            </div>
                                        </td>
                                    }
                                </tr>
                                ++iter;
                            }
                        }
                    </tbody>
                </table>
                <br />
            }
        </div>
</div>