@model CySim.Data.ApplicationDbContext;
@{
    ViewData["Title"] = "ScoreBoard Page";
}

@*<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-centered">
                <h1 class="text-centered">Leaderboard</h1>
                <table class="table table-striped">
                    <tr><th>Rank</th><th>Name</th><th>Score</th></tr>
                    @{int i = 1; }
                    @foreach (var item in Model.Leaders())
                    {
                        <tr><td width="50px">@i</td><td>@item.TeamName</td><td>@item.Score</td></tr>
                        ++i;
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>*@
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> @* Forces reset of CSS file to prevent caching and not updating during development *@
<div class="container">
    <header>
        <h1>Scoreboard</h1>
    </header>
    <article>
        <div class="col-md-10 col-centered">
            <table class="col-md-10 col-centered">
                <thead>
                    <tr>
                        <td colspan="3" align="center">Placement</td>
                        <td align="center" class="thead-secondary">Score</td>
                        <td align="center" class="thead-secondary">Flags</td>
                        <td align="center" class="thead-secondary">Usability</td>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 1; i < 6; i++) @* Right now this will print out 5 team fox placeholder rankings needs to become a for each loop*@
                    {
                        <tr>
                            <td class="scoreboard-ranking">@(i)</td>                      
                            <td class="scoreboard-team-logo">
                                    <img class="scoreboard-team-logo"
                                 src="https://www.dropbox.com/s/4ib10cmlh0cden6/foxIcon.jpg?dl=1" alt="Team Foxes" height="100" width="100">
                            </td>
                            <td class="scoreboard-team">Team @(i): Foxes</td>
                            <td class="scoreboard-score">797</td>
                            <td class="scoreboard-flags">797</td>
                            <td class="scoreboard-usability">0</td>
                        </tr>
                    }
            </tbody>
        </table>
        <br />
    </article>
</div>