@using Microsoft.AspNetCore.Identity
@model IEnumerable<CySim.Models.Tutorial.Tutorial>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Tutorial Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-center">Access the tutorials here</h2>
    </div>
    <br />
    <div class="col-12">
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <div align="right" class="col-6">
                <a class="btn btn-info" asp-action="Create">Add a Tutorial<i class="fa-solid fa-bicycle"></i></a>
            </div>
        }
        <br />
        <h4 class="text-info">Getting Started</h4>
        <table class="table table-striped border">
            <tr class="table-info">
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.FileName)

                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.Description)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Red Team"))
                {
                    @if ((item.isRed.Equals("True") || item.isRed.Equals("true")) && (item.isGameType.Equals("False") || item.isGameType.Equals("false")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Blue Team"))
                {
                    @if ((item.isRed.Equals("false") || item.isRed.Equals("False")) && (item.isGameType.Equals("False") || item.isGameType.Equals("false")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    @if ((item.isRed.Equals("true") || item.isRed.Equals("True")) && (item.isGameType.Equals("False") || item.isGameType.Equals("false")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                    @if ((item.isRed.Equals("false") || item.isRed.Equals("False")) && (item.isGameType.Equals("False") || item.isGameType.Equals("false")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }


            }

        </table>

        <br />
        <br />
        <h4 class="text-info">Game Type</h4>
        <table class="table table-striped border">
            <tr class="table-info">
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.FileName)

                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.Description)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Red Team"))
                {
                    @if ((item.isRed.Equals("True") || item.isRed.Equals("true")) && (item.isGameType.Equals("True") || item.isGameType.Equals("true")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Blue Team"))
                {
                    @if ((item.isRed.Equals("false") || item.isRed.Equals("False")) && (item.isGameType.Equals("True") || item.isGameType.Equals("true")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    @if ((item.isRed.Equals("true") || item.isRed.Equals("True")) && (item.isGameType.Equals("True") || item.isGameType.Equals("true")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                    @if ((item.isRed.Equals("false") || item.isRed.Equals("False")) && (item.isGameType.Equals("True") || item.isGameType.Equals("true")))
                    {
                        <tr>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.FileName)
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }


            }

        </table>
         
                

        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <form method="post" enctype="multipart/form-data" asp-controller="Tutorial" asp-action="Index">
                <div class="form-group">
                    <div class="col-md-10">
                        <p>Upload one or more files using this form:</p>
                        <input type="file" name="files" multiple />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Upload" />
                    </div>
                </div>
            </form>
        }

    </div>
</div>



