@using Microsoft.AspNetCore.Identity
@model IEnumerable<CySim.Models.Tutorial.Tutorial>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Tutorial Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-6" align="center">
        <h2 class="text-center" align="center">Welcome to the Tutorial Page!</h2>
    </div>
    <br />
    <div class="col-12">
        <br /><br /><br />
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <div align="left" class="col-6">
                <a class="btn btn-info" asp-action="Create">Add a Tutorial</a>
            </div>
        }
        <br />
        <h4>Getting Started Tutorials</h4>
        <table class="table table-striped border">
            <tr class="table-info">
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.FileName)

                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.Description)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Red Team"))
                {
                    @if (item.isRed && !item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Blue Team"))
                {
                    @if (item.isRed && !item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    @if (item.isRed && !item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                    @if (!item.isRed && !item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }


            }

        </table>

        <br />
        <br />
        <h4>Game Tutorials</h4>
        <table class="table table-striped border">
            <tr class="table-info">
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.FileName)

                </th>
                <th colspan="2">
                    @Html.DisplayNameFor(m => m.Description)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Red Team"))
                {
                    @if (item.isRed && item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                }
                @if (signInManager.IsSignedIn(User) && User.IsInRole("Blue Team"))
                {
                    @if (item.isRed && item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }

                @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                {
                    @if (item.isRed && item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }
                    @if (!item.isRed && item.isGameType)
                    {
                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>
                    }

                }


            }

        </table>

    </div>
</div>