@using Microsoft.AspNetCore.Identity
@model IEnumerable<CySim.Models.Scenario.Scenario>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Scenario Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (signInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Access the sceanrios here</h2>
        </div>
        <br />
        <div class="col-12">
            @if (User.IsInRole("Admin"))
            {
                <div align="right" class="col-6">
                    <a class="btn btn-info" asp-action="Create">Add a Scanario<i class="fa-solid fa-bicycle"></i></a>
                </div>
                <br>
            }
            <table class="table table-striped border">
                <tr class="table-info">
                    <th colspan="2">
                        @Html.DisplayNameFor(m => m.FileName)

                    </th>
                    <th colspan="2">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                </tr>
                @if (User.IsInRole("Red Team"))
                {
                    @foreach (var item in Model)
                    {
                        @if (item.isRed)
                        {
                            <tr>
                                <td colspan="2">
                                    <a href="@item.FilePath">@item.FileName</a>
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(w => item.Description)
                                </td>
                            </tr>
                        }
                    }
                }
                @if (User.IsInRole("Blue Team"))
                {
                    @foreach (var item in Model)
                    {
                        @if (!item.isRed)
                        {
                            <tr>
                                <td colspan="2">
                                    <a href="@item.FilePath">@item.FileName</a>
                                </td>
                                <td colspan="2">
                                    @Html.DisplayFor(w => item.Description)
                                </td>
                            </tr>
                        }
                    }
                }
                @if (User.IsInRole("Admin"))
                {
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td colspan="2">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td colspan="2">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                        </tr>

                    }
                }

            </table>

        </div>
    </div>
}