@using Microsoft.AspNetCore.Identity
@model IEnumerable<CySim.Models.Tutorial.Tutorial>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Tutorial Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 align="center">Welcome to the Tutorials Page</h1>
    <br />
    <br />
    <h2>Some general background on the Tutorial Page:</h2>
    <ul>
        <li>Below you will see the resepective tutorials for your team. If you are red you will have access to red tutorials, if blue you will have access to blue tutorials.</li>
        <ul>
            <li>There is four total tables for tutorials. Two red and two blue, the two red are for tutorials as well as gametype, and blue is for tutorials and gametype too.</li>
            <li>Admin is able to create/edit and delete tutorials as well as assign them to respective teams.</li>
        </ul>
        <li>You will be able to click the hyperlinked lines for each tutorial, this will allow you to download the pages and view them to better understand CySim.</li>
    </ul>

</div>
<br />
<br />    
    
@if (signInManager.IsSignedIn(User))
{    
    <div class="row">
        <div class="col-6" align="center">
            <h2 class="col-6" align="left">Access Tutorial Documents</h2>
        </div>
        <br>
        
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <br>
            <div align="left" class="col-6">
                <a class="btn btn-info" asp-action="Create">Add a Tutorial</a>
            </div>
            <br>
        }
       <div class="col-12">
            @if (User.IsInRole("Red Team") || User.IsInRole("Admin"))
            {
            <div class="col-6">
                <h4 class="text-danger">Red Team Tutorials</h4>
            </div>
            <table class="table table-striped border">
                <tr class="table-danger">
                    <th class="col-3">
                        @Html.DisplayNameFor(m => m.FileName)

                    </th>
                    <th class="col-6">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                     @if (User.IsInRole("Admin")) 
                     {
                        <th class="col-1">
                            Actions
                        </th>
                     }
                </tr>
                @foreach (var item in Model)
                {
                    @if (item.isRed && !item.isGameType)
                    {
                        <tr>
                            <td class="col-3">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td class="col-6">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                            @if (User.IsInRole("Admin")) 
                            {
                                <td class="col-1">
                                    <a class="btn btn-success d-inline-block" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form class="d-inline-block" asp-action="Delete" asp-route-id="@item.Id" onsubmit='return confirm("Are you sure you want to delete the @item.FileName tutorial?")'>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
            <br>
            }
            @if (User.IsInRole("Red Team") || User.IsInRole("Admin"))
            {
            <div class="col-6">
                <h4 class="text-danger">Red Team GameTypes</h4>
            </div>
            <table class="table table-striped border">
                <tr class="table-danger">
                    <th class="col-3">
                        @Html.DisplayNameFor(m => m.FileName)

                    </th>
                    <th class="col-6">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                     @if (User.IsInRole("Admin")) 
                     {
                        <th class="col-1">
                            Actions
                        </th>
                     }
                </tr>
                @foreach (var item in Model)
                {
                    @if (item.isRed && item.isGameType)
                    {
                        <tr>
                            <td class="col-3">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td class="col-6">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                            @if (User.IsInRole("Admin")) 
                            {
                                <td class="col-1">
                                    <a class="btn btn-success d-inline-block" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form class="d-inline-block" asp-action="Delete" asp-route-id="@item.Id" onsubmit='return confirm("Are you sure you want to delete the @item.FileName gametype?")'>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
            <br>
            }
                  
            @if (User.IsInRole("Blue Team") || User.IsInRole("Admin"))
            {
            <div class="col-6">
                <h4 class="text-primary">Blue Team Tutorials</h4>
            </div>
            <table class="table table-striped border">
                <tr class="table-primary">
                    <th class="col-3">
                        @Html.DisplayNameFor(m => m.FileName)

                    </th>
                    <th class="col-6">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                     @if (User.IsInRole("Admin")) 
                     {
                        <th class="col-1">
                            Actions
                        </th>
                     }
                </tr>
                @foreach (var item in Model)
                {
                    @if (!item.isRed && !item.isGameType)
                    {
                        <tr>
                            <td class="col-3">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td class="col-6">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                            @if (User.IsInRole("Admin")) 
                            {
                                <td class="col-1">
                                    <a class="btn btn-success d-inline-block" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form class="d-inline-block" asp-action="Delete" asp-route-id="@item.Id" onsubmit='return confirm("Are you sure you want to delete the @item.FileName Tutorial?")'>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
            <br>
            }
             @if (User.IsInRole("Blue Team") || User.IsInRole("Admin"))
            {
            <div class="col-6">
                <h4 class="text-primary">Blue Team GameTypes</h4>
            </div>
            <table class="table table-striped border">
                <tr class="table-primary">
                    <th class="col-3">
                        @Html.DisplayNameFor(m => m.FileName)

                    </th>
                    <th class="col-6">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                     @if (User.IsInRole("Admin")) 
                     {
                        <th class="col-1">
                            Actions
                        </th>
                     }
                </tr>
                @foreach (var item in Model)
                {
                    @if (!item.isRed && item.isGameType)
                    {
                        <tr>
                            <td class="col-3">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td class="col-6">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                            @if (User.IsInRole("Admin")) 
                            {
                                <td class="col-1">
                                    <a class="btn btn-success d-inline-block" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form class="d-inline-block" asp-action="Delete" asp-route-id="@item.Id" onsubmit='return confirm("Are you sure you want to delete the @item.FileName GameType?")'>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
            <br>
            }

        </div>
    </div>
}
