@using Microsoft.AspNetCore.Identity
@model IEnumerable<CySim.Models.Scenario.Scenario>
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Scenario Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (signInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-6 mb-4">
            <h2 class="text">Access the scenarios here</h2>
        </div>
        
        @if (User.IsInRole("Admin"))
        {
            <div align="left" class="col-6 mb-4">
                <a class="btn btn-primary" asp-action="Create">Add a Scanario<i class="fa-solid fa-bicycle"></i></a>
            </div>
        }

        <div class="col-12">
            @if (User.IsInRole("Red Team") || User.IsInRole("Admin"))
            {
            <div class="col-6">
                <h4 class="text-danger">Red Team Scenarios</h4>
            </div>
            <table class="table table-striped border">
                <tr class="table-danger">
                    <th class="col-4">
                        @Html.DisplayNameFor(m => m.FileName)

                    </th>
                    <th class="col-6">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                     @if (User.IsInRole("Admin")) 
                     {
                        <th class="col-1">
                            Actions
                        </th>
                     }
                </tr>
                @foreach (var item in Model)
                {
                    @if (item.isRed)
                    {
                        <tr>
                            <td class="col-4">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td class="col-6">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                            @if (User.IsInRole("Admin")) 
                            {
                                <td class="col-1">
                                    <a class="btn btn-success d-inline-block" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form class="d-inline-block" asp-action="Delete" asp-route-id="@item.Id" onsubmit='return confirm("Are you sure you want to delete the @item.FileName scenario?")'>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
            <br>
            }

            @if (User.IsInRole("Blue Team") || User.IsInRole("Admin"))
            {
            <div class="col-6">
                <h4 class="text-primary">Blue Team Scenarios</h4>
            </div>
            <table class="table table-striped border">
                <tr class="table-primary">
                    <th class="col-4">
                        @Html.DisplayNameFor(m => m.FileName)

                    </th>
                    <th class="col-6">
                        @Html.DisplayNameFor(m => m.Description)
                    </th>
                     @if (User.IsInRole("Admin")) 
                     {
                        <th class="col-1">
                            Actions
                        </th>
                     }
                </tr>
                @foreach (var item in Model)
                {
                    @if (!item.isRed)
                    {
                        <tr>
                            <td class="col-4">
                                <a href="@item.FilePath">@item.FileName</a>
                            </td>
                            <td class="col-6">
                                @Html.DisplayFor(w => item.Description)
                            </td>
                            @if (User.IsInRole("Admin")) 
                            {
                                <td class="col-1">
                                    <a class="btn btn-success d-inline-block" asp-action="Edit" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <form class="d-inline-block" asp-action="Delete" asp-route-id="@item.Id" onsubmit='return confirm("Are you sure you want to delete the @item.FileName scenario?")'>
                                        <button type="submit" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                }
            </table>
            }

        </div>
    </div>
}
